MACHINE ??= "imola"
DISTRO ?= "qcom-distro"
USER_CLASSES ?= "buildstats"
#PATCHRESOLVE = "noop"

BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    HALT,${TMPDIR},100M,1K \
    HALT,${DL_DIR},100M,1K \
    HALT,${SSTATE_DIR},100M,1K \
    HALT,/tmp,10M,1K"

MIRRORS:append = " \
    git://github.com git://git.codelinaro.org/clo/yocto-mirrors/github/ \
    git://.*/ git://git.codelinaro.org/clo/yocto-mirrors/ \
    https://.*/.*/ https://artifacts.codelinaro.org/codelinaro-le/ \
"

KERNEL_CMDLINE_EXTRA:append = " qcom_scm.download_mode=1"

#IMAGE_CLASSES += "image_types_qcom"
#IMAGE_FSTYPES += "qcomflash"

#DISTRO_FEATURES:append = " efi pam pni-names"
#EXTRA_IMAGE_FEATURES = "allow-empty-password empty-root-password allow-root-login"
IMAGE_ROOTFS_EXTRA_SPACE = "307200"
#WATCHDOG_RUNTIME_SEC:pn-systemd = "30"

INHERIT:remove = "uninative"

BB_SIGNATURE_HANDLER = "OEBasicHash"

#INHERIT += "buildstats-summary"
#INHERIT += "buildhistory"
INHERIT += "rm_work"
#INHERIT += "image-buildinfo"

SKIP_META_QCOM_SANITY_CHECK = "1"

CONF_VERSION = "2"
